.Pokedex {
    text-align: justify;
  }
  
  /* .Pokedex-title {
    color: rgb(212, 94, 94);
  }
  
  .Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  
  .Pokedex-winner {
    font-weight: bold;
    color: orangered;
  } */